<ion-header>
  <ion-navbar>
    <img src="/assets/imgs/sodimac-logo-transparent.png" width="215" height="50" alt="sodimac-logo"/>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="header">
    Sistema de Atención de Pedidos
  </div>
  <ion-card>
    <ion-card-content *ngIf="!CONNECTED">
      <ion-grid>
        <ion-row>
          <ion-col>
            Antes de iniciar es necesario configurar la conexión al servidor
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <ion-item>
              <button ion-button block outline (click)="config()">¡Conectar ya!</button>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>

    <ion-card-content *ngIf="AFTER_SETTINGS">
      <ion-grid >
        <ion-row *ngIf="CONNECTED">
          <ion-col>
            El sistema está listo para atender sus pedidos
            <button ion-button block round color="primary" (click)="login()">Iniciar atención</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
  <ion-item *ngIf="AFTER_SETTINGS">
    <button ion-button item-end icon-start clear small [color]="CONNECTED?'secondary':'danger'">
      <ion-icon name="wifi" ></ion-icon> {{CONNECTED?'CONECTADO':'NO CONECTADO'}}</button>
  </ion-item>
