page-hoja-ruta {
  .pedido-activo {
    background-color: rgba(40, 238, 95, 0.17);
  }
  .pedido-inactivo {
    background-color: rgba(144, 141, 141, 0.25);
  }
  .label-md {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
