<!--
  Generated template for the HojaRutaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <img src="/assets/imgs/sodimac-logo-transparent.png" width="215" height="50" alt="sodimac-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding #rutas>
  <div id="topmarker"></div>
  <div id="info" *ngIf="hojaRuta && hojaRuta.codigo">
    <div class="header">HOJA DE RUTA: {{hojaRuta.codigo}}</div>
    <ion-card class="info-card ocean-background">
      <ion-card-content>
        <div>Placa de la Unidad: {{hojaRuta.unidadChofer.unidad.numeroPlaca}}</div>
        <div>SOAT: {{hojaRuta.unidadChofer.unidad.numeroSoat}}</div>
        <div>Chofer: {{chofer.apellidos}}, {{chofer.nombres}} </div>
        <div>Fecha de Despacho: {{getDateValue(hojaRuta.fechaDespacho)}}</div>
        <div>Bodega: {{hojaRuta.bodega.nombre}}</div>
        <div>Dirección de Bodega: {{hojaRuta.bodega.direccion}} {{hojaRuta.bodega.distrito.nombre}}</div>
      </ion-card-content>
    </ion-card>
    <div id="detallesMarker"></div>
    <div *ngFor="let detalle of hojaRuta.detalles"
    >
      <div [id]="'desp'+ detalle.ordenDespachoPedido" class="list-detail" (click)="verPedido(detalle)" text-wrap>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <button ion-button color="violeta" item-start class="order-button" [class.despachoblink] = "firstPendiente == detalle.pedido.codigoPedido">
                  {{detalle.ordenDespachoPedido}}
                </button>
                <div class="subtitulo">{{detalle.pedido.codigoPedido}}</div>
                <ion-badge item-end [color]="getColor(detalle.estado)"
                           class="estado-label">{{detalle.estado}}</ion-badge>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Destinatario: {{detalle.destinatario}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Dirección: {{detalle.domicilio}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Rango Horario: De {{tConvert(detalle.ventana.horaInicio)}} a {{tConvert(detalle.ventana.horaFin)}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>



  </div>
  <div id="problema" *ngIf="hojaRuta && !hojaRuta.codigo">
    <div>Sr. {{chofer.apellidos}}, {{chofer.nombres}}; usted no cuenta con hoja de ruta asignada hoy</div>
  </div>
  <ion-fab bottom right>
    <button ion-fab mini (click)="returnToHome()"><ion-icon name="home"></ion-icon></button>
  </ion-fab>
</ion-content>
